<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List </title>
</head>
<body>
     <h1> Lista</h1>
    <div>
    <form  method="POST" action="/add">
         <label for="todo"> ToDo: </label>
            <input type="text" id="todo" name="todo" placeholder="Digite um texto">
            <input type="submit" value="Acrescentar"> 


    </form>
</div>
     <ul>
        <li> Tarefa1</li>
        <li> Tarefa2</li>
        <li> Tarefa3</li>

     </ul>
<div>

</div>
</body>
</html>